{
    "tabWidth": 4,
    "singleQuote": false,
    "overrides": [
        {
            "files": "*.js",
            "options": {
                "singleQuote": true,
                "arrowParens": "always"
            }
        }
    ]
}
